*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(45deg,#f30e5a,#e79223);
}
.player{
    float: left;
    widows: 100px;
    margin-left: 300px;
    margin-top: 50px;
    overflow: hidden;
    max-width: 600px;
    background: #090a0a;
    box-shadow: 0 50px 80px rgba(10, 112, 207, 0.25);
}
.player.imgbx{
    width:200px;
    height:200px;
    margin-left: 300px;
}
.imgbx img{
  margin-top:0px;
    left:30px;
    width:300px;
    height:400px;
    margin-left: 300px;
}
.player audio{
    width:300px;
    margin-left: 300px;
}